@model RejestrOsobZaginionych.Models.PersonHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LostDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonHistoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
